[MASTER]
ignore=CVS,.git,.hg,.svn
load-plugins=pylint.extensions.docparams

[MESSAGES CONTROL]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0903, # too-few-public-methods (for Pydantic models)
    E0611, # no-name-in-module (Pydantic dynamic fields sometimes trip this)
    W0611, # unused-import (sometimes false positives with typing)

[FORMAT]
max-line-length=120
